<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 id="app-name" class="my-0 mr-md-auto font-weight-normal text-uppercase"><strong>Decrypto</strong></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="form-outline">
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input type="text" id="search-input" class="form-control" placeholder="Search"/>
        <span class="input-group-text"><i class="fas fa-search"></i></span>
        <button (click)="pulsa()" >Pulsa</button>
      </form>
      <div id="mdb-5-search-dropdown" class="rounded shadow-5">
        <ul id="mdb-5-search-list" class="list-unstyled mb-0"></ul>
        <hr class="my-0">
      </div>
    </div>
  </nav>
</div>
<!--<form [formGroup]="searchForm">

        <mat-form-field>
             <input type="text" matInput formControlName="searchBar" [matAutocomplete]="auto">
        </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto"  formControlName="searchBar">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let option of searchResult | async" [value]="option">
                      <span>{{ option.volumeInfo.title }}</span>

                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>


</form>-->